@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background-color: snow;
}

@keyframes appear {
  from{
    opacity: 0;
clip-path: inset(50% 100% 0 0);
  }

  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
#courses,#contact{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}   

